body {
    background-color: lightgray;
}

.container {
    margin: auto;
}

.myPic {
    width: 50%;
    height: auto;
    float: left;
    padding-right: 10px;
}
.portfolio {
    width: 100%;
    height: auto;
}

figcaption {
    margin: auto;
    text-align: center;
}

.aboutMe {
    font-family: 'Lobster', cursive;
    font-size: 100px;
    color: darkslategray;
    margin: auto;
}

.snapshots {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    text-align: center;
}

.contactMe {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: darkslategray;
}