.container {
    margin: auto;
}

.myPic {
    width: 100%;
    height: auto;
}
.portfolio {
    width: 100%;
    height: auto;
}

figcaption {
    margin: auto;
    text-align: center;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 90px;
}